<nav>
    <h3 style="display: inline"><%= link_to 'H.C.E.T', root_path %></h3>

    <%= link_to 'Homework', homeworks_path %>

    <% if user_signed_in? && current_user.admin %>

        <%= link_to 'Admin Panel', admin_path %>

    <% end %>
    <span class="loggedin" style="display: inline">
        <% if !user_signed_in? %>
            <span style="text-align:center;">

                <%= link_to "Log In", user_session_path, class: "btn-log" %>
                
                <%= link_to "Sign Up", new_user_registration_path, class: "btn-log" %>
            </span>
        <% else %>
            <span style="margin-right: 10px"><%= current_user.email %></span>

            <%= link_to 'Log Out', destroy_user_session_path, class: 'btn-log' %>
        <% end %>
    </span>

</nav>