<h1>Homework</h1>

<div class="center">
<%= form_tag homeworks_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'search homework using subject',class: 'search' %>
    <%= submit_tag "Search", :name => nil ,class: 'submit'%>
  <a href="/homeworks">Clear Search</a>
  </p>
<% end %>
</div>

<table id="homeworks">
<thead>
  <tr>
    <th>
      <strong>Subject</strong>
    </th>

    <th>
      <strong>Desc</strong>
    </th>

    <th>
      <strong>End Date</strong>
    </th>

    <th>
    </th>
  </tr>
</thead>

  <% @homeworks.each do |homework| %>
<tbody>
  <tr>
    <td>
      <%= homework.subject %>
    </td>

    <td>
      <%= homework.desc %>
    </td>

    <td>
      <%= homework.end %>
    </td>

    <td>
      <%= link_to "Show this homework", homework %>
    </td>
  </tr>
</tbody>
  <% end %>
</table>
