<br /><br /><br />
<div class="center">
<div>
  <div>
    <div>
      <strong>Subject:</strong>
      <%= @homework.subject %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= @homework.desc %>
    </div>

    <div>
      <Strong>End Date:</strong>
      <%= @homework.end %>
    </div>
  </div>
</div>

<br /><br />


<%= link_to "Back to homeworks", homeworks_path %>
<% if user_signed_in? && current_user.admin %>
<div>
  <%= link_to "Edit this homework", edit_homework_path(@homework) %>

  <%= button_to "Destroy this homework", @homework, method: :delete %>
</div>
<% true %>
<% end %>


<%= render partial: 'answers/form', locals: { answer: @answer } %>

<% if user_signed_in? && current_user.admin %>
  <h1>Answers</h1>
  <% @answers.each do |answer| %>
  <% if answer.id == @homework.id %>
    <% @user = User.find(answer.user_id) %>
    <div>

    Student Name: <%= @user.email.split('@')[0] %><br />
    Answer: <%= link_to answer.title, '/answers/'+answer.id.to_s %>

    </div>
  <% end %>
  <% end %>

<% end %>

</div>