<br /><br /><br />
<div class="center">
<div>
  <div>
    <div>
      <strong>Subject:</strong>
      <%= @homework.subject %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= @homework.desc %>
    </div>

    <div>
      <Strong>End Date:</strong>
      <%= @homework.end %>
    </div>
  </div>
</div>

<br /><br />


<%= link_to "Back to homeworks", homeworks_path %>
<% if user_signed_in? && current_user.admin %>
<div>
  <%= link_to "Edit this homework", edit_homework_path(@homework) %>

  <%= button_to "Destroy this homework", @homework, method: :delete %>
</div>
<% true %>
<% end %>
</div>